# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


### Example user template
.DS_Store

### IntelliJ project files
.idea
*.iml
out
gen

### VSCode configuration
.vscode

# Go dep
vendor

# LevelDB storage files
_db

# wasm tests
vm/wasm/test/data/!simple!.wasm
vm/wasm/test/data/*.wat

/testdata
data
data_pulsar

/bin

# GoReleaser dist dir
/dist

/scripts/insolard/configs
/scripts/insolard/nodes
