global:
  scrape_interval: 10s
  scrape_timeout: 2s

scrape_configs:
{{ range $key, $value := .Jobs }}
- job_name: {{ $key }}
  static_configs:
  - targets:
    {{- range $value }}
    - "{{ . }}"
    {{- end }}
    labels:
      installation: local
{{ end }}
- job_name: pulsar
  static_configs:
  - targets:
    - "host.docker.internal:7999"
    labels:
      installation: local
